<main class="mx-auto max-w-7xl px-2 py-2">
  <app-nav-bar ></app-nav-bar>
  <router-outlet></router-outlet>
  <div class="divider"></div>
  <div>
    <h1 class="text-2xl font-bold mb-2">
      Locale Actual:
      <span class="text-secondary">{{ localeSelected() }}</span>
    </h1>
    <select class="select select-primary mr-2" (change)="changeLocale($event)">
      <option disabled selected>Selecciona un idioma</option>
      @for (locale of locales; track locale.value) {
      <option [value]="locale.value" >{{ locale.label }}</option>
      }
    </select>
  </div>
</main>
